
.recents{
  margin-top:50px;
  font-family:$montserrat;
  text-align:center;


  &__title{
    font-weight:400;
    text-transform:uppercase;
    font-size:2em;

    @include from(desktop){
      font-size:5em;
    }

    span{
      color:$color1;
    }
  }

  &__subtitle{
    text-transform:uppercase;
    line-height:20px;

    @include from(desktop){
      line-height:2px;
    }

  }

}